
/* Aspect responsive */

@media screen and (max-width:600px) {
  body { background-color:#FFFFFF; }
  #banniere { width:100%; height:15em; border:2px solid; border-radius:10px; }
  img { width:100%; height:100%; border:2px solid; border-radius:10px; }
  #logo { width:15%; height:15%; position:relative; float:left; border:0px; }
  .slides { display:none; }
  footer { width:100%; margin:60px auto; }
  nav { width:100%; margin:60px auto; }
  #menu li a { color:black; }
  #menu li a:hover { color:#365583; } }

/* Corps de la page */

body { width:90%; margin:0 auto; text-align:center; background-color:#ffffff; }

/* Styles des titres */

h1 { font-family:Bradley Hand ITC; font-size:50px; text-shadow: 3px 3px 3px black; }  
h2 { font-family:Monotype Corsiva; font-size:30px; }    
h3 { font-family:Monotype Corsiva; font-size:28px; }

/* Style des paragraphes */

p { font-family:Arial; font-size:15px; }

/* Style des liens */

a { color:#365583; text-decoration:none; font-weight:bold; }

/* Caractéritiques du logo */ 

#logo { position: relative; float:left; }

/* Style des listes */

.liste { font-family:Arial; font-size:15px; } 

/* Style de la section centrale des pages */

#main { margin-bottom: 15px; }

/* Caractéritiques des tableaux */ 

.tableau { width: 90%; padding: 0px; margin:auto; } 
.tableau_2 { width: 90%; padding: 0px; margin:auto; }

/* Style de la Google map */

#map { border:1px solid black; border-radius: 12px; height:400px; width:100%; }

/* Style de l'image pour la section "main" sur l'index */

#accueil { border-radius:10px; border:1px solid; margin:10px; }

/* Style de l'image pour de la section "main" sur apropos */

#apropos img { border-radius:10px; border:1px solid; margin:10px; }

/* Style pour le texte du pied de page */

#gauche { text-align: left; }

/* Fondu enchaîné pour la bannière */

.slides { height: 200px; overflow: hidden; position: relative; width: 100%; border:1px solid; border-radius:10px; } 
		  
.slides ul { list-style: none; position: relative; margin:0px; padding:0px;}

/* Keyframes */

@keyframes anim_slides 
	{ 0% { opacity: 0; } 25% { opacity: 1; } 50% { opacity: 1; } 75% { opacity: 0; } 100% { opacity: 0; } }

/* Animation */
	
.slides ul li { opacity: 0; position: absolute; top: 0; 
    animation-name: anim_slides; animation-duration: 14.0s; animation-timing-function: linear;
    animation-iteration-count: infinite; animation-direction: normal; animation-delay: 0s;
    animation-play-state: running; animation-fill-mode: forwards; }

/* Delays */

.slides ul  li:nth-child(2), .slides ul  li:nth-child(2) div { animation-delay: 7.0s; animation-delay: 7.0s; } 	
.slides ul  li:nth-child(3), .slides ul  li:nth-child(3) div { animation-delay: 14.0s; animation-delay: 14.0s; }

/* Menu */

nav { width:100%; margin:20px auto; }

nav ul { font-family:Bradley Hand ITC; font-size:25px; font-weight:bold; border-style:hidden; border-radius:12px;
         background-color:#c8c8c8; list-style:none; display:flex; justify-content: space-around; }

#menu ul { margin:0; padding:0; list-style-type:none; text-align:center; } 
#menu li { float:left; margin:auto; padding:0; } 
#menu li a { display:block; width:100px; color:black; text-decoration:none; padding:5px; } 
#menu li a:hover { color:#365583; }
#menu ul li ul { display:none; font-size:16px; }
#menu ul li:hover ul { display:block; }
#menu li:hover ul li { float:none; }
#menu li ul { position:absolute; }

/* Style du formulaire */

#formulaire fieldset, input, textarea {font-family:Arial; font-size:15px; border-radius:10px; }
#formulaire legend, label {font-family:Arial; font-size:15px; vertical-align:top; }

/* Pied de page */

footer { width:90%; font-family:Bradley Hand ITC; font-weight:bold; font-size:15px; margin:auto;
         padding:2px; position:relative; border-style:hidden; border-width:2px; border-radius:12px;
         list-style: none; background-color:#c8c8c8; }

footer img { vertical-align:top; margin:2px; }

/* Style du bouton de connexion au back office */

#bouton_back-office_header { float:right; margin-top: 20px; border:1px solid; border-radius:10px;
  			     text-align:center; text-decoration:none; padding:10px; font-size:15px;
			     font-weight:bold; color:black; font-family:arial; }

#bouton_back-office_header:hover { background-color: #c8c8c8; }
